.stepTwoForm {
  margin-bottom: -185px;
  .stepTwoFormBackground {
    position: relative;
    top: 62px;
    left: -140px;
    background-image: url("../../assets/Background-Form.jpg");
    width: 1900px;
    height: 883px;
    z-index: -1;
  }
  .stepTwoFormCurrentStep {
    position: relative;
    top: -760px;
    font-family: $fontBase;
    font-size: 24px;
    font-weight: 300;
    color: #3C3C3C;
    margin-left: 140px;
  }
  .stepTwoFormTitle {
    position: relative;
    top: -680px;
    font-size: 32px;
    font-family: $fontBase;
    font-weight: 600;
    color: #000;
    margin-left: 140px;
  }
  .stepTwoFormContainer {
    position: relative;
    top: -630px;
    display: flex;
    align-items: center;
    margin-left: 140px;
    font-family: $fontBase;
    font-size: 24px;
    font-weight: 300;
    .stepTwoFormSelect {
      outline: none;
      width: 300px;
      height: 49px;
      border: 0.75px solid #3C3C3C;
      margin-left: 25px;
      background-color: transparent;
      font-size: 24px;
      font-weight: 300;
      font-family: $fontBase;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../../assets/Icon-Arrow-Down.svg");
      background-repeat: no-repeat;
      background-position-x: 240px;
      background-position-y: center;
      padding-left: 10px;
    }
  }
  .stepTwoFormBtn {
    position: relative;
    top: -150px;
    width: 180px;
    height: 80px;
    font-family: $fontBase;
    font-size: 24px;
    font-weight: 300;
    margin-left: 140px;
    background-color: transparent;
    border: 0.75px solid #3C3C3C;
    outline: none;
  }
  .stepTwoFormBtn:hover {
    cursor: pointer;
    background-color: #ddd;
  }
}