.summaryBackground {
  position: relative;
  top: 200px;
  left: -140px;
  background-image: url("../../assets/Background-Form.jpg");
  width: 1900px;
  height: 883px;
  z-index: -1;
 }

.summaryContainer {
  margin-bottom: -546px;
  .summaryMainTitle {
    position: relative;
    top: -630px;
    font-family: $fontBase;
    font-size: 36px;
    font-weight: 600;
    margin-left: 140px;
  }

  .summarySecondTitle {
    position: relative;
    top: -590px;
    font-size: 24px;
    font-weight: 600;
    font-family: $fontBase;
    margin-left: 140px;
  }

  .shirtIcon {
    background-image: url("../../assets/Icon-1.svg");
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-size: contain;
    margin-left: 140px;
    position: relative;
    top: -530px;
  }

  .currentCharity {
    position: relative;
    top: -565px;
    margin-left: 220px;
    font-family: $fontBase;
    font-size: 18px;
  }

  .localizationIcon {
    background-image: url("../../assets/Icon-4.svg");
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-size: contain;
    margin-left: 140px;
    position: relative;
    top: -530px;
  }

  .currentLocalization {
    font-family: $fontBase;
    font-size: 18px;
    position: relative;
    top: -565px;
    margin-left: 220px;
  }

  .summaryAddress {
    font-size: 24px;
    font-weight: 600;
    font-family: $fontBase;
    position: relative;
    top: -500px;
    margin-left: 140px;
  }
  .summaryStreetContainer {
    font-size: 24px;
    font-weight: 300;
    font-family: $fontBase;
    position: relative;
    top: -480px;
    margin-left: 140px;
    .summaryStreet {
      margin-left: 128px;
    }
  }

  .summaryCityContainer {
    font-size: 24px;
    font-weight: 300;
    font-family: $fontBase;
    position: relative;
    top: -460px;
    margin-left: 140px;
    .summaryCity{
      margin-left: 102px;
    }
  }

  .summaryPostCodeContainer {
    font-size: 24px;
    font-weight: 300;
    font-family: $fontBase;
    position: relative;
    top: -440px;
    margin-left: 140px;
    .summaryPostCodeTitle{
      width: 100px;
      line-height: 28px;
    }
    .summaryPostCode{
      position: relative;
      top: -38px;
      left: 180px;
    }
  }

  .summaryPhoneNumberContainer{
    font-size: 24px;
    font-weight: 300;
    font-family: $fontBase;
    position: relative;
    top: -440px;
    margin-left: 140px;
    .summaryPhoneNumberTitle {
      width: 100px;
      line-height: 28px;
    }
    .summaryPhoneNumber{
      position: relative;
      top: -38px;
      left: 180px;
    }
  }

  .summaryDateOfReceiptTitle {
    font-family: $fontBase;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -748px;
    left: 600px;
  }

  .summaryDateOfReceiptContainer {
    font-size: 24px;
    font-weight: 300;
    font-family: $fontBase;
    position: relative;
    top: -728px;
    margin-left: 600px;
    .summaryDateOfReceiptDate {
      position: relative;
      top: 0px;
      left: 100px;
    }
  }

  .summaryTimeContainer {
    font-size: 24px;
    font-weight: 300;
    font-family: $fontBase;
    position: relative;
    top: -708px;
    margin-left: 600px;
    .summaryTime {
      position: relative;
      top: 0px;
      left: 62px;
    }
  }

  .summaryMessageToCourierContainer {
    font-size: 24px;
    font-weight: 300;
    font-family: $fontBase;
    position: relative;
    top: -688px;
    margin-left: 600px;
    .summaryMessageToCourierTitle{
      width: 110px;
      line-height: 28px;
    }
    .summaryMessageToCourier {
      position: relative;
      top: -40px;
      left: 158px;
    }
  }

  .summaryBtn {
    position: relative;
    top: -535px;
    width: 180px;
    height: 80px;
    font-family: $fontBase;
    font-size: 24px;
    font-weight: 300;
    margin-left: 140px;
    background-color: transparent;
    border: 0.75px solid #3C3C3C;
    outline: none;
  }

  .summaryBtn:hover {
    cursor: pointer;
    background-color: #ddd;
  }

  .summaryConfirmBtn {
    width: 244px;
  }
}